* {
    scrollbar-color: #c630a1 #19a3d1;
}
body {
  background-color: lightblue;
}
#Info, h1, tr {
	text-align: center;
}
p {
  
  font-size: 20px;
}
#Info {
  
  color: green;
  animation: mymove 4s infinite;
}
@keyframes mymove {
  50% {color: blue;}
}
img {
  width:75%;
}
