* {
    scrollbar-color: #c630a1 #19a3d1;
}
body {
  background-color: lightblue;
}
/*#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}*/
h1, tr, #Category, p {
	text-align: center;
}
#sticky {/*stays there while you scroll*/
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 0px;
  width: 70%;
  background-color:transparent;
}
p {
  font-size: 20px; 
  box-shadow: 2px 2px 7px 2px black;
}
#Category {
  font-size: 20px;
  width: 15%;
  background-color: lightgreen;
  border: 2px solid black;
  box-shadow: 2px 2px 7px 2px black;
}
#tdCat {
  border: 2px solid black;
  box-shadow: 2px 2px 7px 2px black;
}
img {
  width:80%;
  object-fit: fill;
  border: 2px solid black;
  box-shadow: 2px 2px 7px 2px black;
}
abbr {
  box-shadow: 2px 5px 7px 2px black;
  
}
#Grass-Poison { /*transition from the color of one type to the color of the other type, when we have a pokemon with two types. see the colors on a website*/
  color: #78c850;/*Grass*/
  animation: GrassPoison 4s infinite;
}
@keyframes GrassPoison {
  50% {color: #a040a0;}/*Poison*/
}
#Bug {
  color:#a8b820;
}
#Dragon {
  color:#7038f8;
}
#Dark {
  color:#705848;
}
#Electric {
  color:#f8d030;
}
#Fairy {
  color:#ee99ac;
}
#Fighting {
  color:#c03028;
}
#Fire {
  color:#f08030;
}
#Flying {
  color:#a890f0;
}
#Ghost {
  color:#705898;
}
#Grass {
  color:#78c850;
}
#Ground {
  color:#e0c068;
}
#Ice {
  color:#98d8d8;
}
#Normal {
  color:#a8a878;
}
#Poison {
  color:#a040a0;
}
#Psychic {
  color:#f85888;
}
#Rock {
  color:#b8a038;
}
#Steel {
  color:#b8b8d0;
}
#Water {
  color:#6890f0;
}
